*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial;
}


body{

background:#050816;

color:white;

padding:30px;

}


nav{

display:flex;

justify-content:space-between;

align-items:center;

padding:20px;


background:rgba(255,255,255,.05);

backdrop-filter:blur(20px);

border-radius:20px;

}



ul{

display:flex;

gap:30px;

list-style:none;

}


a{

color:white;

text-decoration:none;

}



.hero{

display:flex;

justify-content:space-between;

align-items:center;

margin-top:60px;

}



.left{

width:50%;

}



.left h1{

font-size:70px;

}



.left span{

color:#5b7cff;

}



.left h3{

margin-top:20px;

font-size:30px;

}



.left p{

margin-top:20px;

line-height:1.8;

}



button{

padding:15px 35px;

border:none;

border-radius:12px;

background:#6d4cff;

color:white;

margin-top:25px;

cursor:pointer;

}



.cv{

background:transparent;

border:1px solid #6d4cff;

}



.right{

width:400px;

height:500px;


background:rgba(255,255,255,.05);


backdrop-filter:blur(20px);


border-radius:30px;


display:flex;


justify-content:center;


align-items:center;


box-shadow:0 0 40px #6d4cff;


}


.right img{

width:90%;

border-radius:25px;

}
